

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

#heart {
	position: absolute;
	margin-top: 260px;
	margin-left: 550px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart {
 transition: all 1.5s ease-out;
 transform: scale(1,1);
}

#heart2 {
	position: absolute;
	margin-top: 100px;
	margin-left: 200px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart2:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart2 {
 transition: all 1.5s ease-out;
 transform: scale(.5,.5);
}

#heart3 {
	position: absolute;
	margin-top: 260px;
	margin-left: 98px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart3:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart3 {
 transition: all 1.5s ease-out;
 transform: scale(.25,.25);
}

#heart4 {
	position: absolute;
	margin-top: 130px;
	margin-left: 900px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart4:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart4 {
 transition: all 1.5s ease-out;
 transform: scale(1,1);
}

#heart5 {
	position: absolute;
	margin-top: 500px;
	margin-left: 290px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart5:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart5 {
 transition: all 1.5s ease-out;
 transform: scale(.5,.5);
}

#heart6 {
	position: absolute;
	margin-top: 600px;
	margin-left: 400px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart6:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart6 {
 transition: all 1.5s ease-out;
 transform: scale(.25,.25);
}

#heart7 {
	position: absolute;
	margin-top: 400px;
	margin-left: 800px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}

#heart7:hover {
	-webkit-filter: drop-shadow(4px 2px 5px #E24466);
  filter: drop-shadow(4px 2px 5px #E24466);
}


/*div {
  transition: all 1s ease-out;
}

div.active {
  transform: scale3d(2,2,3);
}

div.active {
  transform: scale3d(1,1,3);
}*/

#heart7 {
 transition: all 1.5s ease-out;
 transform: scale(1,1);
}
